<div class="header-wrapper">
  <div class="logo-wrapper">
    <img src="../../../../assets/img/logo.png" alt="">
  </div>
  <div class="header-right-side">
    <div class="header__auth-wrapper">
      <span [routerLink]="'auth/sign-up'">Register</span>
      <span [routerLink]="'auth/login'">Log in</span>
    </div>
    <div class="header__socials-wrapper">
      <div class="header__socials-title">stay connected</div>
      <div class="header__socials-links">
        <a href="https://www.facebook.com">
          <div class="header__socials-link"><i class="fa fa-facebook" aria-hidden="true"></i></div>
        </a>
        <a href="https://www.instagram.com">
          <div class="header__socials-link"><i class="fa fa-instagram" aria-hidden="true"></i></div>
        </a>
        <a href="https://www.twitter.com">
          <div class="header__socials-link"><i class="fa fa-twitter" aria-hidden="true"></i></div>
        </a>
        <a href="https://www.youtube.com">
          <div class="header__socials-link"><i class="fa fa-youtube-play" aria-hidden="true"></i> </div>
        </a>
      </div>
    </div>
  </div>
</div>
