:host{
  height: 100%;
}

.home__wrapper-img{
  background: url("../../assets/img/logo.jpg");
  background-size: 100%;
  background-position-y: 45%;
  height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__search-wrapper{
  display: flex;
}

.home__search-open--btn{
  padding: 5px 15px;
  background-color: #fff;
  color: #c0c0c0;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-flex;
  cursor: pointer;
  border-right: 1px solid;
  font-family: Campton-Light;
}

.home__search-show-more--btn{
  font-size: 22px;
  padding-left: 25px;
  padding-top: 5px;
}

.home__search-show-more--text{
  display: flex;
  align-items: center;
  padding-top: 3px;
}

.home__search-input{
  font-size: 12px;
  font-family: Campton-Light;
  color: #c0c0c0;
  outline: none;
  border: none;
  padding-left: 30px;
  width: 500px;
  padding-top: 4px;
  &::placeholder{
    font-size: 11px;
    font-family: Campton-Light;
    color: #c0c0c0;
    text-transform: uppercase;
  }
}

.home__search-submit-wrapper{
  width: 42px;
  height: 42px;
  display: flex;
  background-color: #dec9b9;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    background-color: darken(#dec9b9, 5%);
  }
}

.home__search-results{
  padding-top: 50px;
  background-color: #fff;
  width: 65%;
}

.home__search-meal-types--wrapper{
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.home__search-meal-types--item{
  background-color: #eeeeee;
  color: #fff;
  width: 25%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: Campton-Light;
  height: 335px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    background-color: darken(#eeeeee, 3%);
  }
}

.border-search-top{
  width: 88%;
  border-bottom: 1px solid #c0c0c0;
  margin-left: 6%;
  margin-bottom: 60px;
}

.border-search-right-side-top{
  width: 73%;
  border-bottom: 1px solid #c0c0c0;
  height: 1px;
  padding-top: 48px;
  margin-left: 13%;
}

.home__search-main--wrapper{
  display: inline-flex;
  width: 100%;
}

.home__search-right--side{
  width: 35%;
}

.home__search-ingredients-search--wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.home__search-ingredients-search{
  background: url("../../assets/img/build-a-meal.png") no-repeat;
  width: 80%;
  background-size: 100%;
  height: 570px;
  display: flex;
  align-items: center;
}

.home__search-ingredients-search__inputs-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding-top: 25%;
  input{
    margin-bottom: 10px;
    width: 200px;
    margin-left: 24%;
    background-color: transparent;
    border: 2px solid #976338;
    padding: 6px;
    color: #fff;
    outline: none;
    font-size: 11px;
    font-family: Campton-Light;
    &::placeholder{
      font-size: 11px;
      font-family: Campton-Light;
      color: #fff;
    }
  }
}

.home__search-ingredients-search-submit{
  width: 208px;
  background-color: #fff;
  padding: 9px 4px 4px 4px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-left: 24%;
  font-family: Campton-Light;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    text-decoration: underline;
  }
}

.home__search-ingredients-search__inputs-text{
  text-align: center;
  font-size: 17px;
  color: #fff;
  font-family: Campton-Light;
  padding: 17px 60px;
}
