<div class="home__wrapper">
  <div class="home__wrapper-img">

    <div class="home__search-wrapper">
      <div class="home__search-open--btn">

        <span class="home__search-show-more--text">
          advanced search
        </span>

        <span class="home__search-show-more--btn">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>

      </div>

      <input type="text" class="home__search-input" placeholder="search">

      <div class="home__search-submit-wrapper">
        <span><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>

    </div>

  </div>

  <div class="home__search-main--wrapper">
    <div class="home__search-results">

      <div class="border-search-top"></div>

      <div class="home__search-meal-types--wrapper">
        <div class="home__search-meal-types--item">
          breakfast
        </div>
        <div class="home__search-meal-types--item">
          lunch
        </div>
        <div class="home__search-meal-types--item">
          diner
        </div>
      </div>

      <div class="home__search-meal-types--wrapper">
        <div class="home__search-meal-types--item">
          breakfast
        </div>
        <div class="home__search-meal-types--item">
          lunch
        </div>
        <div class="home__search-meal-types--item">
          diner
        </div>
      </div>

    </div>

    <div class="home__search-right--side">

      <div class="border-search-right-side-top"></div>

      <div class="home__search-ingredients-search--wrapper">

        <div class="home__search-ingredients-search">

          <div class="home__search-ingredients-search__inputs-wrapper">
            <!--<img src="../../assets/img/build-a-meal.png" alt="">-->
            <div class="home__search-ingredients-search__inputs-text">
              Create wholesome dishes with ingredients already in your pantry
            </div>
            <input type="text" placeholder="e.g Chicken">
            <input type="text" placeholder="e.g Rice">
            <input type="text" placeholder="e.g Cheese">
            <div class="home__search-ingredients-search-submit">
              find recipes
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>



</div>
